.hellomain{
    
    background-color: black;
    color: rgb(206, 160, 23);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    width: 400px;
    height: 400px;
    
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 30s linear;
    }
  }

  .ch1{
    color: cyan;
  }

